header{ 
    background-color:#303030;
    color: white;
    padding: 20px;
    text-align: center;
}

.search-history-container {
    background-color: #F5F5F5;
    padding: 20px;
}

.container-todays-weather{
    border: solid 1px #F0F0F0;
    border-radius: 25px;
    padding: 20px;
    margin: 10px;

}

.high-index{
    border: solid 1px red;
    background-color: red;
    border-radius: 25px;
    padding: 2px 8px;
    color: white;


}

.mid-index{
    border: solid 1px gold;
    background-color: gold;
    border-radius: 25px;
    padding: 2px 8px;
    color: white;


}

.low-index{
    border: solid 1px green;
    background-color: green;
    border-radius: 25px;
    padding: 2px 8px;
    color: white;


}


.container-five-day-forecast{
    padding: 20px;
    margin: 10px;
}

#forecast-icon{
display: inline;
}

h2{
    display: inline;
}

.custom-card{

    background-color: blue;
    border: solid 1px blue;
    border-radius: 25px;
    color: white;
    display: block;
    padding-top: 10px;
}
.custom-card p{

    padding-left: 20px;
}

.city-button{
 width: 80%;
 margin: 10px auto;
 text-align: left;
}